
body{

	background-image: url('ar.jpg');
			}
#ui {
	background-color: #ffff;
	padding: 30px;
	margin-top:40px ;
	border-radius: 10px;
	border-style: solid ;
	border-color: #888888;
}


#rr {

	font-size: 30px;
	font-style: italic;
}
#ui label {
			color: #333;
}
#us h1{

	font-family: 'Poppins',sans-serif;
	font-size: 60px;
	color: black;
	box-shadow: 3px 1px 4px 4px #888888;
}
#us h2{

	font-family: 'Poppins',sans-serif;
	font-size: 50px;
	color: black;
	font-style: italic;
	
}
#us{
	
	border-style: solid ;
	border-color: #888888;
	width: 30%;
	background-color: #ffff;
	padding: 30px;
	margin-top:20px ;
	border-radius: 10px;

}
#ui input {

	padding: 10px;

}
.fname{
	padding: 30px;
}
.form-check{

	
	font-family: 'Poppins',sans-serif;

}
#gg {

	
	
	margin-bottom: 25px;
}

